@font-face {
    font-family: "Pexico";
    src: url("Urtd - Pexico-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

/* HELLO, WORLD! */
.container .hello {
    position: relative;
    display: grid;
    background-color: #BEF4E4;
}

.container .hello h1 {
    background-color: #BEF4E4;
    margin: 10px 15px;
    font-family: "Pexico";
    text-align: center;
    font-size: 4.5em;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}

/* IMAGEM GATINHO */
.container .img {
    position: relative;
    display: grid;
    justify-items: center;
}

/* BEM VINDOS AO MEU SITE! */

.container .welcome {
    display: grid;
    justify-content: center;
}

.container .welcome h2 {
    text-align: left;
    color: #5865D2;
    font-family: "Pexico";
    font-size: 40px;
    margin: 10px 30px;
}

/* CLIQUE PARA COMEÇAR O CURSO!! */

.container .cta {
    position: relative;
    display: grid;
    justify-content: center;
}

.container .cta p {
    text-align: center;
    margin: 10px 15px;
    width: fit-content;
    color: #9AA593;
    font-family: "Pexico";
}

/* BOTÃO COMEÇAR O CURSO */

.container .button {
    position: relative;
    display: grid;
    justify-items: center;
    margin: 10px 15px;
}

.container button {
    background-color: #d83b7a;
    font-family: "Pexico";
    font-size: 25px;
    color: white;
    padding: 20px;
    border-color: black;
    
}
