body {
    margin: 0;
}

/* HELLO, WORLD! */
.container .hello {
    display: grid;
    background-color: #BEF4E4;
}

.container .hello h1 {
    background-color: #BEF4E4;
    margin: 10px 15px;
    text-align: center;
    font-size: 4.5em;
}

/* IMAGEM GATINHO */
.container .img {
    display: grid;
    justify-items: center;
}

/* BEM VINDOS AO MEU SITE! */

.container .welcome {
    display: grid;
    justify-items: center;
    text-align: left;
}

/* CLIQUE PARA COMEÇAR O CURSO!! */

.container .cta {
    display: grid;
    justify-items: center;
    text-align: left;
}

/* BOTÃO COMEÇAR O CURSO */

.container .button {
    display: grid;
    justify-items: center;
    text-align: left;
}