body {
    margin: 0;
}

/* HELLO, WORLD! */
.container .hello {
    position: relative;
    display: grid;
    background-color: #BEF4E4;
}

.container .hello h1 {
    background-color: #BEF4E4;
    margin: 10px 15px;
    text-align: center;
    font-size: 4.5em;
}

/* IMAGEM GATINHO */
.container .img {
    position: relative;
    display: grid;
    justify-items: center;
}

/* BEM VINDOS AO MEU SITE! */

.container .welcome {
    display: grid;
    justify-content: center;
}

.container .welcome h2 {
    text-align: left;
    font-size: 45px;
    margin: 10px 30px;
}

/* CLIQUE PARA COMEÇAR O CURSO!! */

.container .cta {
    position: relative;
    display: grid;
    justify-content: center;
}

.container .cta p {
    text-align: center;
    margin: 10px 15px;
    width: fit-content;
}

/* BOTÃO COMEÇAR O CURSO */

.container .button {
    position: relative;
    display: grid;
    justify-items: center;
    margin: 10px 15px;
}